<html>
  <head>
    <meta charset="UTF-8"> 
  </head>

  <body>
    <div align="right">
      <form action="{{ host }}" method="GET">
        Search Keyword:<input name="keyword" id="keyword" type="text" value="">
        <input type="radio" name="object" value="0" checked>物
        <input type="radio" name="kitchen" value="1">食材
        <input type="submit" value="Search">
      </form>
    </div>
  </body>
</html>