<html>
  <head>
    <meta charset="UTF-8"> 
  </head>

  <body>
    <div align="right">
      <form action="{{ host }}" method="GET">
        Search Keyword:<input name="keyword" id="keyword" type="text" value="{{ keywor d}}">
        <input type="radio" name="search" value="0" {{ checked_object }}>物
        <input type="radio" name="search" value="1" {{ checked_kitchen }}>食材
        <input type="submit" value="Search">
      </form>
    </div>

    <iframe width="49%" height="45%" src="{{ page1 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page2 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page3 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page4 }}"></iframe>
  </body>
</html>