<html>
  <head>
    <meta charset="UTF-8"> 
  </head>

  <body>
    <div align="right">
      <form action="http://www.ftumn.shop/multi_search/cgi-bin" method="GET">
        Search Keyword:<input name="keyword" id="keyword" type="text" value="{{ keyword }}">
        <input type="radio" name="search_type" value="0" {{ checked_shopping }}>ショッピング
        <input type="radio" name="search_type" value="1" {{ checked_free_market}}>フリマ
        <input type="submit" value="Search">
      </form>
    </div>

    <iframe width="49%" height="45%" src="{{ page1 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page2 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page3 }}"></iframe>
    <iframe width="49%" height="45%" src="{{ page4 }}"></iframe>
  </body>
</html>
